sudo: required
language: java

services:
  - docker
jdk:
  - oraclejdk8

script:
  - ./gradlew assemble
  - ./gradlew docker

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    ./gradlew dockerPush;
    fi
